* {
    padding: 0;
    margin: 0;
    font-size: 60px;
}
body {
    background-image: url(images/fondo2.jpg);
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.sombra {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    justify-content: center;
    align-items: center;
}

.wrapper {
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

/*PANTALLA*/
.pantalla {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: white;
    height: 20%;
    width: 100%;
    padding: 10px;
}

.numeros {
    width: 100%;
    height: 50%;
    text-align: right;
    line-height: 100px;
    padding: 10px;
}

/*BOTONES*/
.grid {
    box-sizing: border-box;
    border-top: 5px solid black;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: 0;
}

.boton {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid black;
    text-align: center;
    line-height: 75px;
}

.sumar {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    line-height: 180px;
}

.igual {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
}